{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="page-header">
  <h1>{% trans "Subscription" %}</h1>
</div>
<table class="table">
  <tr>
    <th>{% trans "Plan" %}</th>
    <td>{{ subscription.plan }}</td>
  </tr>
  <tr>
    <th>{% trans "Status" %}</th>
    <td>{{ subscription.status }}</td>
  </tr>
  <tr>
    <th>{% trans "Start date" %}</th>
    <td>{{ subscription.start_date }}</td>
  </tr>
  <tr>
    <th>{% trans "End date" %}</th>
    <td>{{ subscription.end_date|default:'-' }}</td>
  </tr>
</table>
{% endblock %}
